{% extends 'base.html.twig' %}



{% block title %}Salles {% endblock %}
{% block body %}
<body>
   <br><br><br>

    <section id="new-arrivals" class="new-arrivals">
        <div class="container">
            <div class="section-header">
                <h2>Les Salles d'évenement</h2>
            </div>
            <!--/.section-header-->
            <div class="new-arrivals-content">
            {% for message in app.flashes('success')  %}
                <div class="alert alert-success">
                {{message}}
                </div>
            {% endfor %}
            {% for message in app.flashes('erreur')  %}
                <div class="alert alert-danger">
                {{message}}
                </div>
            {% endfor %}
                <div class="row">
                <form>
                <div class="col-md-4">
                 
                </div>
                <div class="col-md-4">
                <div class="form-group">
                 <label for="interval_prix">Intervalle des prix :</label>
                 <table id="interval_prix">
                 <tr>
                 <td>
                 <input class="form-control" type="text" name="key" placeholder="Min" ></td>&nbsp;
                 <td><input  class="form-control" type="text" name="key" placeholder="Max" ></td>
                 </tr></table>
                 </div>
                 </div>
                 <div class="col-md-4">
                 <div class="form-group">
                <label for="select">Choisir la localisation :</label>
                    <select class="form-control" name="pets" id="pet-select">
                         <option value="">--Choisir une localisation :--</option>
                         {% for s in SE %}
                         <option value="">{{s.location}}</option>
                         {% endfor %}
                         </select>
                         </div>
                         </div>
                 </form>
                 </div><br><br><br>
                                 <div class="row">



                 

{% for salle in SE %}
<div class="col-md-6">
                            <img src="{{ asset("assets/images/salles/" ~ salle.img) }}" >
                            <h3>{{salle.nom}}</h3>
                            <h5>{{salle.prix}}</h5>
                            <br><br><br><button  onclick="openForm()">Réserver ici</button>
                            <div class="form-popup" id="myForm">
                            <form action="{{ url('CreateRes',{"id":salle.id})}}" class="form-container" >
                            <div class="form-group">
                            <input type="date"  name="date">
                                <button type="submit" class="btn">Réserver</button>
                            </div>
                            </form>
                            </div>
                            {% endfor %}
                            </div>
            </div>

    </section>
<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}


</script>
<style>


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  left:50px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 1500px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>
{% endblock body %}
