{% extends 'base.html.twig' %}


{% block body %}

<body>
{% for message in app.flashes('success')  %}
                <div class="alert alert-success">
                {{message}}
                </div>
            {% endfor %}
<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <!--/.carousel-indicator -->
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
                <li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
                <li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
            </ol>
            <!-- /ol-->
            <!--/.carousel-indicator -->

            <!--/.carousel-inner -->
            <div class="carousel-inner" role="listbox">
                <!-- .item -->
                <div class="item active">
                    <div class="single-slide-item slide1">
                        <div class="container">
                            <div class="welcome-hero-content">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="single-welcome-hero">
                                            <div class="welcome-hero-txt">
                                                <h4>Trouvez facilement</h4>
                                                <h2> des lieux vérifiés et adaptés pour tous vos besoins événementiels. </h2>
                                               

                       
                                            </div>
                                            <!--/.welcome-hero-txt-->
                                        </div>
                                        <!--/.single-welcome-hero-->
                                    </div>
                                    <!--/.col-->
                                    <div class="col-sm-5">
                                        <div class="single-welcome-hero">
                                            <div class="welcome-hero-img">
                                                <img src="{{ asset('assets/images/slider/slider1.jpg') }}" alt="slider image">
                                            </div>
                                            <!--/.welcome-hero-txt-->
                                        </div>
                                        <!--/.single-welcome-hero-->
                                    </div>
                                    <!--/.col-->
                                </div>
                                <!--/.row-->
                            </div>
                            <!--/.welcome-hero-content-->
                        </div>
                        <!-- /.container-->
                    </div>
                    <!-- /.single-slide-item-->

                </div>
                <!-- /.item .active-->


                <!-- /.item .active-->

                <div class="item">
                    <div class="single-slide-item slide3">
                        <div class="container">
                            <div class="welcome-hero-content">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="single-welcome-hero">
                                            <div class="welcome-hero-txt">
                                                <h4>Bénéficiez des meilleurs prix </h4>
                                                <h2> notre service est gratuit avec les mêmes prix qu'en direct.</h2>
                                                
                                                
                                                
                                            </div>
                                            <!--/.welcome-hero-txt-->
                                        </div>
                                        <!--/.single-welcome-hero-->
                                    </div>
                                    <!--/.col-->
                                    <div class="col-sm-5">
                                        <div class="single-welcome-hero">
                                            <div class="welcome-hero-img">
                                                <img src="{{ asset('assets/images/slider/slider3.jpg')}}" alt="slider image">
                                            </div>
                                            <!--/.welcome-hero-txt-->
                                        </div>
                                        <!--/.single-welcome-hero-->
                                    </div>
                                    <!--/.col-->
                                </div>
                                <!--/.row-->
                            </div>
                            <!--/.welcome-hero-content-->
                        </div>
                        <!-- /.container-->
                    </div>
                    <!-- /.single-slide-item-->

                </div>
                <!-- /.item .active-->
            </div>
            <!-- /.carousel-inner-->

        </div>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

  <!--blog start -->
    <section id="blog" class="blog">
        <div class="container">
            <div class="section-header">
                <h2>Nos événements</h2>
                
            </div>
            <!--/.section-header-->
            <div class="blog-content">
                <div class="row">
                {% for event in evenements %}
                    <div class="col-sm-4">
                        <div class="single-blog">
                           <a href="{{ url('salle_event',{id:event.id})}}"> <div class="single-blog-img">
                                <img src="{{ asset('assets/images/slider/' ~ event.img) }}" alt="blog image">
                                <div class="single-blog-img-overlay"></div>
                            </div>
                            <div class="single-blog-txt">
                                <h2>{{event.nom}}</h2>

                                <p>
{{event.detail}}               </a>             </div>
                        </div>

                    </div>
                 {% endfor %}
                   
                    
                </div>
            </div>
        </div>

    </section>
    <!--/.blog-->
    <!--blog end -->

    <!-- clients strat -->
    <section id="clients" class="clients">
        <div class="container">
            <div class="owl-carousel owl-theme" id="client">
                <div class="item">
                    <a href="#">
                        <img src="{{ asset('assets/images/clients/c1.png') }}" alt="brand-image" />
                    </a>
                </div>
                <!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="{{ asset('assets/images/clients/c2.png')}}" alt="brand-image" />
                    </a>
                </div>
                <!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="{{ asset('assets/images/clients/c3.png') }}" alt="brand-image" />
                    </a>
                </div>
                <!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="{{ asset('assets/images/clients/c4.png')}}" alt="brand-image" />
                    </a>
                </div>
                <!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="{{ asset('assets/images/clients/c5.png')}}" alt="brand-image" />
                    </a>
                </div>
                <!--/.item-->
            </div>
            <!--/.owl-carousel-->

        </div>
        <!--/.container-->

    </section>
    <!--/.clients-->
    <!-- clients end -->



{% endblock %}
